<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wieaon</title>
    <link rel="stylesheet" href="accets/lib/css/normalize.css">  <!--normalize css-->
    <!-- <link rel="stylesheet" href="./lib/icon/ionicons.min.css">  for icon -->
    <link rel="stylesheet" href="accets/lib/icon/ionicons.min.css">  <!--for icon-->

  
    <link rel="stylesheet" href="accets/css/landing.css"><!--this for landing css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
      >
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">

</head>
<body>
    
    <header>
        
        <nav>
            <div class="Ownrow">

               <img src="/header/logo/w-widebrite.png" alt="Wieaon-Logo" class="logo ml-3" >

               <ul class="main-nav">
                   <li> <a href="/signin" style="border: none;">Sign In</a>  </li>
                   <li><a href="/signup" style="border: none;">Sign Up</a> </li>
               </ul>
            </div>


        </nav>
        
        <img src="./accets/img/landing-page-img/img4.svg" alt="" srcset="" class="image mt-2">
    </header>


<footer>
    <div class="row">
        <p>
            Copyright &copy; 2020 by Wieaon.All rights reserved. Created by Wasim Akram Biswas

        </p>
        
    </div>
</footer>
  
    <script src="/accets/js/landing.js"></script>

</body>
</html>