.mainFqListdiv {
	height: 93.7vh;
	background-color: #f1f1f1;
}

/*Unfriend Button*/
.btnForUnfrdinFrdList {
	float: right;
	font-size: 70%;
	font-weight: 500;
	border: none;
	outline: none;
	color: #fff;
	background-color: rgb(255, 0, 0);
	border-radius: 4px;
}

/* Card for friend list  */
.customCardForFrdList {
	height: 95px;
	background-color: #fff;
	/* border: 1px solid slateblue; */
	border-radius: 4px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(36, 50, 50, 0.79);
	-moz-box-shadow: 0px 2px 5px 0px rgba(36, 50, 50, 0.79);
	box-shadow: 0px 2px 5px 0px rgba(36, 50, 50, 0.79);
}
