/* box-shadow: 10px 11px 18px 3px rgba(0, 0, 0, 0.31); */
/* overflow: auto; for scrollable div */
/* html::-webkit-scrollbar {
	display: none;
} */

html,
body {
	background-color: #fff;
	color: #555;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	/* overflow-x: hidden; */
	
	
}


.section {
	display: grid;
	grid-template-columns:.9fr 2.5fr .9fr
}

.left {
	background-color: #f5f5f5;
	/* height: 95vh; */
	
}

.mid {
	background-color: #f5f5f5;
	/* mid er height dibe na   */
	/* height: 95vh; */
	/* width: 60%; */
	display: flex;
	flex-direction: column;
	
}

.right {
	background-color: #f5f5f5;
	/* height: 95vh; */
	
}
/* here is the progress bar  */
#progress {
	height: 30px;
	width: 68%;
	background-color: grey;
	border: 1px solid red;
	padding-right: 0;
	padding-left: 0;
}

#mybar {
	width: 1%;
	background-color: green;
}

/*------------------------*/
.customCard {
	margin: 2px auto;
	margin-top: 15px;
	margin-bottom: 7px;

	background-color: #fff;
	height: 85%; /*ai jaiga ta card er height control kor6e*/

	/* width: 100%; */
	border-radius: 4px;
	/* box-shadow: 10px 11px 18px 3px rgba(0, 0, 0, 0.31); */
	border: 2px solid #e7e7e7;;
}



/* .container {
	overflow: auto; 
	overflow: hidden; 
	 height: auto;
	height: 95vh;
} */
/* html::-webkit-scrollbar{
	display: none;
} */

/* .container:hover {
	overflow:auto;
} */
.container::-webkit-scrollbar {
	display: none;
}
/*-------------------------------*/
.userSmallInfo {
	width: 100%;
	height: 60px;
	/* border: 1px dashed yellow; */
}

.userSmallInfo > img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 5%;
	margin-top: 1%;
}
/*-------profile Name Div-----------*/
.profileNameDiv {
	width: 100%;
	height: 100%;
}

/*---------profileName------*/

.profile-name {
	font-size: 75%;
	font-weight: 700;
	line-height: 2.4;
}

/*--------------------------*/

/*-----showing post story----------*/
/* .postStory {
	height: 5%;
	width: 80%;
	font-size: 60%;
	margin-bottom: 4px;
	
	overflow: auto;
} */

.postStoryEndLine {
	width: 90%;
}

.postStoryDiv {
	width: 96%;
	height: 55px;
	overflow: auto;
	margin-bottom: 7px;
	border-left: 3px solid #ff0080;

	/* border-bottom: 1px solid #e0e0e0; */
}

.postStoryDiv > div {
	overflow: auto;
	height: 90%;
	height: auto;
}

/*eta alada*/
.postDesDiv{
	max-width: 700px; 
	width: 96%; 
	border-left: 3px solid rgb(199, 199, 199); 
	word-wrap: break-word;

}

.message-container{
	max-width: 700px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-right: auto;
	margin-left: auto;
}

/*designing SCROLL BAR*/
/* .postDesDiv::-webkit-scrollbar {
    width: 5px;
}

.postDesDiv::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 3px;
}
 
.postDesDiv::-webkit-scrollbar-thumb {
    border-radius: 3px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} */
/*-----------*/



/* .postStory > p {
	width: 80%;
	height: 100%;
	overflow: auto;
	display: inline-block;
	overflow: auto;
} */
/*-------------------------------------*/
.img {
	max-height: 500px; /* ai ta image height fixed rakhe*/
	width: 95%;
	border: 1px solid #e0e0e0;
	margin-top: 1%;
	margin-bottom: 1%;
	/* border-top: 1px solid #e0e0e0; */
}
.likeCommentViewDiv {
	width: 100%;
	height: 25px;
	margin-top: 8px;

	/* border-bottom: 1px solid #e0e0e0; */

	/* background-color: hotpink; */
}

.likeComment {
	/* border-bottom: 1px solid #e0e0e0; */
	border-width: 80%;
	width: 100%;
	height: 35px;
}

.like,
.comment,
.dislike {
	/* border: 1px solid green; */
	width: 17%;
	height: 93%;
}

.like:hover,
.comment:hover,
.dislike:hover {
	background-color: #eeebeb;
	cursor: pointer;
	border-radius: 5px;
}

.likeIcon,
.commentIcon,
.dislikeIcon {
	font-size: 90%;
	margin-left: 40%;
	margin-bottom: 10px;
	/* color: #9c9b9b; */
}

/* adding green color in likebutton for js*/

/* .addGreenInLikeButton {
	color: #0ff10b;
} */
/* adding red color in Dislikebutton for js*/

/* .addRedInDislikeButton {
	color: #f10b0b;
} */

/* for showing Like and comments*/
.showLike,
.showComment,
.showDislike {
	font-size: 55%;
	margin-right: 10px;
}
.forCommentContainer {
	margin-bottom: 7px;
}
.commentBox {
	width: 100%;
}

.commendDiv {
	/* width: 100%;*/
	height: 60px;
	margin-bottom: 5px;
	border-top: 1px solid #d3d0d0;
	/* border: 1px dashed rgb(86, 134, 189); */
}

/*----------comment Input tag---------------*/
.commentInput {
	width: 85%;
	height: 40px;
	/* border: 1px solid salmon; */
	margin-left: 20px;
	background-color: rgb(240, 239, 239);
	border: none;
	outline: none;
	/* background: none; */
	font-size: 80%;
}
.commentInput::placeholder {
	font-size: 100%;

	margin-bottom: 7px;
	margin-left: 10px;
}
/*-----------------------------------------*/
.commentSentBtn {
	display: block;
	height: 35px;
	width: 35px;
	background-color: #f10b0b;
	border-radius: 50%;
	/* margin-bottom: 6px; */
	outline: none;
	/* border: 1px solid royalblue; */
	border: none;
	margin-left: 6px;
}

.commentSentIcon {
	color: #fff;
	font-size: 115%;
	/* text-align: center; */
	/* margin-left: 8px; */
}
/* .commentInput {
	width: 180%;
} */

.commentUserProfileDiv {
	width: 100%;
}
.commentUserProfileDiv > h6 {
	font-size: 0.85rem;
}

.commentUserLogo {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center
	/* display: inline-block; */
}
.commentShowDiv {
	height: 80px;
}

.commentDelete {
	color: rgb(250, 41, 41);
	font-size: 70%;
	margin-left: 4px;
	text-decoration: none;
	outline: none;
	background-color: inherit;
	border: none;
}

.commentEdit {
	color: rgb(84, 245, 84);
	font-size: 70%;
	text-decoration: none;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}
/* .forCss {
} */
.editFormComment {
	/* border: 1px solid red; */
	height: 30px;
}

.inputEditComment {
	height: 90%;
	width: 65%;
}

.updateCommentBtn,
.cancelEditbtn {
	font-size: 60%;
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.updateCommentBtn {
	color: rgb(250, 41, 41);
}
.cancelEditbtn {
	color: rgb(41, 44, 250);
}

.inputEditComment > input::placeholder {
	vertical-align: bottom;
	color: #5f5d5d;
}
/*----------friend Request cards Div------------------*/
.forFqCardsDiv {
	border: 2px solid #e7e7e7;
	background-color: #fff;
	/* border: 1px solid red; */
	height: 270px;
	
}

/*------------per friend Request Card----------------*/

.frindRequestCard {
	border: 2px solid #e7e7e7;

	/* border: 1px solid blue; */
	background-color: rgb(255, 255, 255);
	border-radius: 1px;
}

.forHideScrollBar::-webkit-scrollbar {
	display: none;
}

/* .forHideScrollBar > div > .col-sm-3 {
	width: 22%;
} */
.cardImg {
	width: 96%;
	height: 55%;
	margin: 3px 3px 3px 3px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center
	
}
.fqSendBtn {
	display: block;
	height: 20px;
	width: 80%;
	font-size: 60%;
	color: rgb(255, 255, 255);
	outline: none;
	border: none;
	margin: 0 auto;
	background-color: red;
	border-radius: 2px;
}
.unFollowBtn {
	display: block;
	height: 20px;
	width: 80%;
	font-size: 60%;
	color: rgb(255, 255, 255);
	outline: none;
	border: none;
	margin: 0 auto;
	background-color: rgb(0, 0, 0);
	border-radius: 2px;
}

.uploadSection{

	border: 2px solid #e7e7e7;
	width: 85.9%;
	height: 230px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #fff;
}

.uploadSection-img{
	width: 90px;
	height: 90px;
	/* border: 1px solid blue; */
	position: relative;
	border-radius: 50%;
	
}

.uploadSection-img>img{
	position: absolute;
	width: 85px;
	height: 85px;
	/* border: 1px solid blue; */
	top: 1.5px;
	left: 2px;
	border-radius: 50%;

}


.uploadSection-another-div{

	width: 65%;
    height: 56%;
	border: 1px solid rgb(236, 236, 236);
}




/* home ad */
 
.profile-home-Ad{

    display: flex;
    flex-direction: column;
    width: 60%;
    height: 400px;
    background-color: #fff;
    border:2px solid #e7e7e7;

}

.profile-home-Ad-body{
	height: 88%;
	width: 88%;
	/* border: 1px solid blue; */
	border:1px solid #e7e7e7;

}

.profile-home-Ad-body-video{

	width: 100%;
    height: 100%;
    /* background-size: cover;
    background-position: center;
background-attachment: fixed;
background-repeat: no-repeat */

}

.profile-Ad-body{
    height: 88%;
    width: 95%;
}

/*
.profile-Ad>div{
    width: 100%;
    
}
*/
.profile-Home-Ad-head{
    height: 10%;
}
.home-title{
    margin-top: 3px;
    text-align: center;
	font-size: 85%;
	font-weight: 600;
    letter-spacing: .5px;
	text-transform: uppercase;
	color: rgb(255, 0, 140);
}

.preloader{

	width: 100%; 
	height: 60px; 
	background: none;
	position: fixed;
	top: 86vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}

/*
.profile-Ad-body{
    height: 88%;
    width: 95%;
}

.profile-Ad-body>img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
background-attachment: fixed;
background-repeat: no-repeat
} */

/*-------------------*/