/*START OF 'UPPARPART OF PROFILE'*/

.upparPartOfProfile{

    border-bottom: 1px solid #dbdbdb;
    width: 100%;
    
    display: grid;
    grid-template-rows: .5fr .051fr ;
    
}

.upparPartOfProfile>aside{
   width: 100%;
   /* border: 1px dashed rgb(0, 56, 241); */
   /* height: 65vh; */
   overflow: hidden;
   /* position: absolute; */
   /* grid-row: 1/2; */
  position: relative;
    
}




.coverphoto{
    /* display: block; */
    
/* height: auto; */
/* min-width:100%; */
width:100%;

background-size: cover; 
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;


}

.btn-coverPhoto{

    position: absolute; 
    top: 10%; 
    right: 6%; 
    font-size: 70%;
}




.menu-profile{
    /* border: 1px solid blueviolet;
    background-color: blueviolet; */
    /* margin-top: -10px; */
    
    /* grid-column: 3/2 */
    /* grid-row: 3/2; */
    background-color: #fff;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.menu-profile>ul{
    /* border: 1px solid greenyellow; */
    width: 68%;
    height: 100%;
    margin-bottom: 0rem;
    padding-left: 0rem;
}

.menu-profile-li{
    display: inline-block;
    /* border: 1px solid #f54287; */
    /* height: 100%; */
}

.menu-profileName{
width: 28%;
font-size: 85%;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
font-weight: 700;
text-transform: capitalize;
letter-spacing: .1px;
padding: 1px;
color: #1c1e21;
}
.menu-profile-others{
    width: 50%;
}

.forNameHeading{

    width: 80%;
     text-transform: capitalize;
     font-size: 90%;
     letter-spacing: .5px;
}

/* .coverphoto,.menu-profile{
    grid-column: 1/3;
} */

.profilePic{
/* background-color: chartreuse; */
/* background-color: transparent; */
/* border: 3px solid #f54287; */
background-color: #fff;
 /* grid-column: 1;
grid-row:1/2 */

height: 120px;
width: 120px;
border-radius: 50%;
position: absolute;
top: 58%;
left: 5.5%;
bottom: 2%;
border-radius: 50%;

}



.profilePic>img{
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;

}

/* .upload-Area-profilepic{
    width: 7%;
    height: 20px;
    display: inline-block;
    position: relative;
    top: -64%;
    left: 7%;
    background: green
} */

.photoImg{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;  
}

.areaOf-nav_item{

   display: block;
    width: 20%;
    text-align: center;
    /* height: 100%; */
    font-size: 69%;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 0px;
     color: #1c1e21;
    
}

.areaOf-nav_item:hover{
  color:  #007bff;
}

.formOfProfile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
}


/*END OF 'UPPARPART OF PROFILE'*/

/*----START OF 'LOWARPART OF PROFILE'----*/



.lowarPartOfProfile{
    width: 100%;
    
}

.textAreaOfProfile{
    width: 98%;
    height: 45%;
    background-color: inherit;
    border: none;
    color: #fff;
    font-size: 68%;
}
.textAreaOfProfile::placeholder{
    
    color: #fff;
    
}

.sendItemsOfProfile{
    width: 98%;
    height: 20%;
    background-color:inherit;
    margin-block-end: 0em;
    padding-left: 0rem;
    

}

.btnForProfilePublish{
    border: none;
    outline: none;
    width: 110%;
    font-weight: 500;
    height: 90%;
    font-size: 70%;
    border-radius: 3px;
    background-color: rgb(224, 17, 17);
    color: #fff;
    text-transform: capitalize;
}
.main-of-profile{
    width: 54%;
     height: 55%;
     background-color: #424242;
     border-radius: 3px;
}

.img-of-user-in-postbox{

    width: 90px ; 
    height: 90px; 
    /* background-color: brown;  */
    position: relative;
    border-radius: 50%;
    /* border: 2px solid #424242; */
}
.img-of-user-in-postbox>img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-size: cover;
    background-position: center;
background-attachment: fixed;
background-repeat: no-repeat; */
vertical-align: middle;
border: 2px solid rgb(109, 107, 107);
}



/*card of profile*/

.proFileShowCard{

    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    border: 2px solid #e7e7e7;
}

body{
    background-color: #f5f5f5;
}

/*image for profile feed*/
.imgForProfileFeed{
 margin-top: 7px;
max-height: 600px;

}

/*profile pic for a icon*/
.profileShowImgForIcon{
    /* height and width hat debe na */

    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

/* like comment dislike div */

.profileLikeCommentDiv{
    width: 100%; 
    height: 100px;
     border-top: 1px solid rgb(199, 195, 195);
     border-bottom: 1px solid rgb(199, 195, 195);
     margin-top: 5px;
}

.profileLikeCommentDiv>div{
    width: 60%;
    /* border: 1px dashed rgb(255, 0, 0); */
    height: 70%;
    
}

.profileLikeIcon,.profileCommentIcon,.profileDisLikeIcon{
    color:rgb(156, 155, 155) ;
    cursor: pointer;

}


.forHoverIconsClass:hover{
background-color: rgb(226, 224, 224);
border-radius: 3px;

}
/* img cards */
.imgCardDiv{
width: 100%;
height: 36%;
background-color: #fff;
overflow: auto;
border:2px solid #e7e7e7;

}
/*designing SCROLL BAR*/
.imgCardDiv::-webkit-scrollbar {
    width: 5px;
}

.imgCardDiv::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 3px;
}
 
.imgCardDiv::-webkit-scrollbar-thumb {
    border-radius: 3px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/**/
.profile-Ad{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55%;
    background-color: #fff;
    /* border:1px solid rgb(0, 57, 110) */
    border:2px solid #e7e7e7;


}

.profile-Ad>div{
    width: 100%;
    
}

.profile-Ad-head{
    height: 10%;
    /* background: red; */
}
.profile-Ad-head>h5{
    margin-top: 3px;
    text-align: center;
    font-size: 90%;
    letter-spacing: .5px;
    text-transform: uppercase;
}


.profile-Ad-body{
    height: 88%;
    width: 95%;
    /* background: blue; */
}

.profile-Ad-body>img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
background-attachment: fixed;
background-repeat: no-repeat
}

.customColForLeft{

    height: 700px;
}

.allContainerImg{

    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-auto-rows: 65px;
    grid-gap:.25em; 
    /* overflow: auto */
}

